.editora_wrapper{
    display:flex;
    flex-direction: column;
    width: 30%;
    margin:16px;
    margin-bottom: 24px;
    border:1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    background-color: white;
}

.editora_content{
    
    width:100%;
    height: 90%;
    padding-top:16px;
    
    
}

.editora_img{
    height: 70%;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editora_img img{
    border-radius:5px;
    width:80%;
    
}

.editora_nome{
    padding-top:16px;
    height: 20%;
}

.editora_nome p{
    height:100%;
    text-align: center;
    font-weight: bold;
}

.editora_content_delete,.editora_content_edit{
    font-size: 20px;
    height:100%;
    z-index:7;
    margin:0 10px;
    cursor:pointer;
}

.editora_delete_btn{
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:16px 0;

}
