.editora_create_info{
    display:flex;
    flex-direction: row;
margin:24px 0;
align-items: center;

}


.editora_create_info input{
    height: fit-content;
    font-size:16px;
    padding:10px 0;
    text-indent:10px;
    border-radius: 8px;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
}

.editora_create_info input:focus{
    outline: none;
}

.editora_create_info span{
    font-size:20px;
    
    width: 20%
    
}
.editora_create_link{
    width: fit-content;
    margin:24px auto;
}

.editora_create_link a{
    font-size:30px;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    background-color: goldenrod;
    padding:10px 24px;
    box-shadow: 3px 3px black;
    border-radius:8px;
    font-weight: bold;
}

.editora_create_link a:hover{
    box-shadow:none;
}

.editora_create_content_wrapper{
    width: fit-content;
    margin: auto;
    display:flex;
    flex-direction:column;
    background-color: white;
    padding:24px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 3px 3px black;
}

.editora_create_info_submit{
    text-align: center;
    
}

.editora_create_info_submit input{
    font-size:20px;
    padding:10px 16px;
    background-color: goldenrod;
    border:1px solid black;
    border-radius: 8px;
    box-shadow:2px 2px black;
}

.editora_create_info_submit input:hover{
    cursor:pointer;
    box-shadow: none;
}
