.episodios_details_wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.episodios_details_content_wrapper{
    display:flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 3px 3px 0 1px goldenrod;
    background-color: goldenrod;
    height:100%;
}

.episodios_details_content_img{
    width:33.33%;
    height: 100%;
    align-self: center;
    padding: 16px;
    position: relative;
}

.episodios_details_content_img img{
    height:100%;
    width: 300px;
}

.episodios_details_content_info_wrapper{
    width:66.66%;
    margin:16px;
}

.episodios_details_content_info_nome{
    height: 10%;
}

.episodios_details_content_info_classificacao{
    height: 10%;
}

.episodios_details_content_info_sinopse{
    height: 80%;
}

.episodios_details_trailer{
    padding-top:24px;
    padding-bottom:24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodios_details_trailer p{
    font-size:30px;
}

.episodios_details_trailer iframe{
    display: flex;
    justify-content: center;
    min-width: 300px;
    width: 600px;
    min-height: 300px;
    height:  400px;
}
div p{
    font-size:20px;
}