.episodios_details_wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-top: 24px;
    box-shadow: 3px 3px 5px 5px black;
    border:1px solid black;
}

.episodios_details_content_wrapper{
    display:flex;
    flex-direction: row;
    margin:auto;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 3px 3px 5px 2px black;
    background-color: goldenrod;
    height:100%;
}

.episodios_details_Link_voltar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    
 }

.episodios_details_content_img{
    width:33.33%;
    height: 100%;
    align-self: center;
    padding-left: 16px;
    position: relative;
}

.episodios_details_content_img img{
    height:100%;
    width: 300px;
    border-radius:5px;
    font-size:20px;
    display: flex;
    margin:auto;
}

.episodios_details_content_info_wrapper{
    width:66.66%;
    margin:16px;
}

.episodios_details_content_info_nome{
    height: 10%;
}

.episodios_details_content_info_classificacao{
    height: 10%;
}

.episodios_details_content_info_sinopse{
    height: 80%;
    text-align: justify;
}

.episodios_details_trailer{
    padding-top:24px;
    padding-bottom:24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodios_details_trailer p{
    font-size:30px;
}

.episodios_details_trailer iframe{
    display: flex;
    justify-content: center;
    min-width: 300px;
    width: 600px;
    min-height: 300px;
    height:  400px;
}
div p{
    font-size:20px;
}

.episodios_details_comentarios_wrapper{
    display:flex;
    flex-direction: column;
    width:80%;
    align-self: center;
    padding:16px;
    border: 2px solid black;
    border-radius:8px;
    box-shadow: 3px 3px black;
    margin:24px;
}




