/* ListaSeries*/
.cenas{
    font-size: 30px;
}
button p {
    font-size: 20px;
}
button img{
    border-radius: 15px;
}

/* Header */
:root {
    font-size: 10px;
}

nav ul{
   display:flex;
   flex-direction: row; 
}
div h1{
    font-size:"60px";
    color: aliceblue;
    height:"300px";
    width:"100%";
}
li Link{
    text-decoration: "none";
    color :"black";
    flex:1;
}

nav li {
    display:flex;
    width: 20rem;
    height: 7rem;
    font-size: 20px;
    text-align: center;
    line-height: 7rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 3rem;
}

nav li::before,
nav li::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

nav li::before {
    background-color: white;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

nav li::after {
    background-color: goldenrod;
    transform: translate(1.5rem, 1.5rem);
    z-index: -2;
}

nav li:hover {
    transform: translate(1.5rem, 1.5rem);
    color: white;
}

nav li:hover::before {
    background-color: goldenrod;
}

nav li:hover::after {
    background-color: white;
    transform: translate(-1.5rem, -1.5rem);
}

.home_btn{
    position:relative;
    top:18px;
    left:20px;
    
}

.home_btn a{
    position:fixed;
    background-color: white;
    padding:5px 8px;
    padding-bottom: 8px;
    border:3px solid goldenrod;
    border-radius: 30px;
    text-decoration:none;
    color:black;
    font-size:30px;
}

.titulo_App{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    top: 50%;
    
}

.titulo_App h1{
    margin: 0;
    text-shadow: 7px 7px 3px black;
    font-style: italic;
    color: white;
}
